<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Login</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <link
      href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap"
      rel="stylesheet"
    />

    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />

    <link rel="stylesheet" href="stylesheets/login.css" />
  </head>
  <body>
    <section class="ftco-section">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-6 text-center mb-2" style="width: 100%; display: flex; justify-content: center;">
            <div
              class="img"
              style="
                background-image: url(images/exium_mups.svg);
                height: 100px !important;
                object-fit: contain !important;
                width: 70% !important;
              "
            ></div>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-md-7 col-lg-5">
            <div class="wrap" style="padding: 1rem">
              <h2 class="heading-section" style="text-align: center">
                Daily Amnesia Quiz
              </h2>

              <hr />
              <div class="login-wrap p-4 p-md-4">
                <form id="loginForm" class="signin-form">
                  <div class="form-group mt-3">
                    <input
                      id="mobile_number"
                      placeholder="Phone Number"
                      type="number"
                      class="form-control"
                      required
                    />
                  </div>

                  <div class="form-group">
                    <button
                      onclick="submitForm(event)"
                      type="submit"
                      class="form-control btn btn-primary rounded submit px-3"
                    >
                      Login
                    </button>
                  </div>
                </form>
                <p class="text-center">
                  Already have an account? <a href="/signup"> Sign Up</a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="js/jquery.min.js"></script>
    <script src="js/popper.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/main.js"></script>

    <script>
      function submitForm(event) {
        event.preventDefault();
        const form = document.getElementById("myForm");

        var mobile_number = $("#mobile_number").val();

        const data = { mobile_number };

        console.log(" data is : ", data);

        fetch("/api/login", {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify(data),
        })
          .then((response) => {
            console.log(JSON.stringify(response));
            // alert("login Success!");
            window.location.href = "/";
            // Handle response
          })
          .catch((error) => {
            console.error(error);
            // Handle error
          });
      }

      //   $(document).ready(function () {
      //     $("#loginForm").submit(function (e) {
      //       e.preventDefault(); // Prevent the form from submitting via the browser

      //       var mobile_number = $("#mobile_number").val();

      //       const data = { mobile_number };

      //       console.log("data is : ", data);

      //       $.ajax({
      //         type: "POST",
      //         url: "/api/login",
      //         data: data,
      //         success: function () {
      //           alert("login Success!");
      //         },
      //         error: function () {
      //           alert("login failed!");
      //         },
      //       });
      //     });
      //   });
    </script>
  </body>
</html>
