*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.question p {
  font-size: 50px;
}

.input_group {
  margin-top: 0.5rem;
  display: flex !important;
  align-items: center !important;
}

#options {
  margin-bottom: 2rem;
}

.input_group input {
  height: 26px;
  width: 33px;
}
.input_group label {
  margin-left: 0.5rem !important;
  font-size: 30px;
}

.submit-btn {
  font-size: 1.5rem !important;
}
/* @media (max-width: 991px) {
  .p_container {
    width: 80vw;
  }
} */

@media (max-width: 991px) {
  .p_container {
    width: 95vw;
  }
  .q-container {
    width: 100%;
    padding: 2rem;
    background-color: #f1f3f4;
  }

  .p_container h1{
   font-size: 2.5rem;
  }
  .p_container h3{
   font-size: 5rem;
  }
  .p_container p{
   font-size: 2.5rem;
  }
  .p_container h4{
   font-size: 2.5rem;
   margin-top: 1.5rem;
  }

  .question p {
    font-size: 2rem;
    margin-bottom: 1rem;
  }

  .input_group {
    justify-content:flex-start;
    margin-top: 1.2rem;
  }
  .input_group input {
    height: 62px;
    width: 84px;
    flex: 1;
  }
  .input_group label {
    margin-left: 1.2rem !important;
    font-size: 2rem;
    flex: 5;
  }
  .submit-btn {
    font-size: 2rem !important;
    padding: 1rem 5rem !important;
  }

  #ans_head{
    font-size: 3rem !important;
  }
  #ans_title{
    font-size: 2rem !important;
  }
}
